/* Add your CSS Code here */



body {
    font-family: "Times New Roman", Times, serif;
background-image: url("background.jpg");
  
} 
h1 {color:black;text-align:center; }

h2 {color:black;  font-size: 250%;
font-family: "Formal Script BT", Times, serif; text-align:center;}
h3{
text-align:center;
}

.connect{
width:400px;
height:450px;
}

#sign_in_button {
height:50px;
width:100px;

}

#main_header{
font-size:100px;
vertical-align:200px;
font-family: "Formal Script BT", Times, serif; text-align:center;}

#header{
font-size:26px;
vertical-align:150px;
font-family: "Adera", Times, serif; text-align:center;
}
#login_button {
height:50px;
width:100px;
}
#div_for_login{
text-align:center;
}

#div_for_about_us{
   width:100px;
    height:50px;
    text-align:center;
}
#div_for_sign_up{
text-align:center;
}

#LOGIN_PAGE {
    width:100px;
    height:50px;
    text-align:center;
}

#SIGN_UP {
    width:100px;
    height:50px;
    text-align:center;

}

.title {
    position: relative;
    left: 30px;
}

.connecting{
width:400px;
height:200x;

}

