<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Explore</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='aboutus.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="icon" href="http://conciergeandstyle.com/fetes/e=-716.png">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="70">

<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('home')}}"><span class = "glyphicon glyphicon-circle-arrow-left"></span> Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#section1">WHO WE ARE</a></li>
        <li><a href="#section2">WHAT WE DO</a></li>
        <li><a href="#section3">WHY WE DO IT</a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- First Container -->
<div id="section1" class="container-fluid">
  <div class=" bg-3 text-center">
    <h1 class="margin">Who We Are?</h1>
    <h2>We are a group of six palestinian and israeli teenagers participating in the MEET programe where learned Computer Science and Entrepreneurship  </span></h2><br><br>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="{{ url_for('static', filename='jana.jpg') }}" class="img-circle" alt="Cinque Terre" width="256" height="256">
        <p>Jana Dajani, 17, Palestinian from Jerusalem.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="{{ url_for('static', filename='shaked.jpg') }}" class="img-circle" alt="Cinque Terre" width="256" height="256">
        <p>Shaked Hadad, 17, an Israeli from Beit-Shemesh.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4"> 
        <img src="{{ url_for('static', filename='tala.jpg') }}" class="img-circle" alt="Cinque Terre" width="256" height="256">
        <p>Tala Manna'a, 17, Palestinian from Beit-Hanina.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4"> 
        <img src="{{ url_for('static', filename='musa.jpg') }}" class="img-circle" alt="Cinque Terre" width="256" height="256">
        <p>Musa Abu-al-Hawa, 17, Palestinian from Jerusalem.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4"> 
        <img src="{{ url_for('static', filename='guy.jpg') }}" class="img-circle" alt="Cinque Terre" width="256" height="256">
        <p>Guy Kahana, 17, an Israeli from Jerusalem.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4"> 
        <img src="{{ url_for('static', filename='adva.jpg') }}" class="img-circle" alt="Cinque Terre" width="256" height="256">
        <p>Adva Haetzny,17, an Israeli from Jerusalem.</p>
      </div>
    </div>
  </div>
</div>

<!-- Second Container -->
<div id="section2" class="container-fluid">
  <div class="container-fluid bg-2 text-center">
    <h3 class="margin">What We Do?</h3>
    <p>Our goal, as students in the middle east, that understands the gaps between people, is to give our users the opportunity to get to know other cultures, to make new connections with new people around the world and to have interesting conversations in an free, easy, fun platform. </p>
  </div>
</div>

<!-- Third Container (Grid) -->
<div id="section3" class="container-fluid">
  <div class="container-fluid bg-1 text-center">
    <h3 class="margin">Why We Do It?</h3>
    <img src="bird.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350"><br>
    <h3>We envision a world where people from different nationalities, countries and economical backgrounds can overcome the gaps and variations between them in order to ensure better relationships.<br></h3>
  </div>
</div>
<!-- Footer -->
<div id="section4" class="container-fluid">
  <footer class="container-fluid bg-4 text-center">
    <p>Bootstrap Theme Made By <a href="http://www.w3schools.com">www.w3schools.com</a></p> 
  </footer>
</div> 

</body>
</html>
