<!DOCTYPE html>
<html>

<head>
	
	<title> Edit Profile </title>

</head>

<body>
<br><br>
<div align="center">
<table border="2" width="240" >
	<form action="demo_form.asp">
	<tr>
		<th> <input type="file" name="pic1" accept="image/*"> </th> 
		<th> <input type="file" name="pic2" accept="image/*"> </th> 	
	</tr>
	<tr>
		<th> <input type="file" name="pic3" accept="image/*"> </th> 
		<th> <input type="file" name="pic4" accept="image/*"> </th> 	
	</tr>
	</form> 

</table>
<br>

<input type="submit">
</div>




</body>

</html>