<!DOCTYPE html>
<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <title>
    Explore
  </title>
  
  
  
</head>

<body>

<div id="title">
<img class = "connect" src = "{{ url_for('static', filename='connect.gif') }}" alt = "connecting Humans worlwide">

<span id="main_header">
	Explore
</span>
<span id="header">Connecting People Worldwide</span>
</div>
<br>
<br>
<br>

<div id = "div_for_login">
<form action = "{{ url_for('login')}}">
<input type = "submit" value = "Log In" id = "LOGIN_PAGE">
</form>
</div>
<br>
<div id = "div_for_sign_up">
<form action = "{{ url_for('signup')}}">
<input type = "submit" value = "Sign Up" id = "SIGN_UP">
</form>
</div>

<div id = "div_for_about_us">
<form action = "{{ url_for('aboutus')}}">
<input type = "submit" value = "About us" id = "ABOUT_US">
</form>
</div>

<div>
<br>
<br>
<br>
<img class = "connecting" src = "{{ url_for('static', filename='connecting.gif') }}" align="right">

</body>


</html>
